<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.ContactDao">
    <sql id="list">
        <if test="search_keyword != null">
            <if test="search_type == ''.toString()">
            </if>
            <if test="search_type == null">
            </if>
        </if>
        <if test="member != null">
            AND MEMBER = #{member}
        </if>
    </sql>
    <sql id="order">
        ORDER BY
        <if test="order_type != null">
            <choose>
                <when test="order_type == 'reg_date_desc'.toString()">REG_DATE DESC, </when>
            </choose>
        </if>
        CONTACT DESC
    </sql>

    <select id="getListContact" resultType="com.jamie.home.api.model.CONTACT">
        SELECT *
        FROM CONTACT
        WHERE 1=1
        <include refid="list"></include>
        <include refid="order"></include>
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListContactCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM CONTACT
        WHERE 1=1
        <include refid="list"></include>
    </select>

    <select id="getContact" resultType="com.jamie.home.api.model.CONTACT">
        SELECT *
        FROM CONTACT
        WHERE CONTACT = #{contact}
    </select>

    <insert id="insertContact" parameterType="com.jamie.home.api.model.CONTACT" useGeneratedKeys="true" keyProperty="contact">
        INSERT INTO CONTACT (MEMBER, TITLE, CONTENT, FILES) VALUES (#{member}, #{title}, #{content}, #{files})
    </insert>

    <update id="updateContact">
        UPDATE CONTACT SET UPD_DATE = now()
        <if test="title != null">,TITLE = #{title}</if>
        <if test="content != null">,CONTENT = #{content}</if>
        <if test="answer != null">,ANSWER = #{answer}</if>
        <if test="files != null">,FILES = #{files}</if>
        WHERE CONTACT = #{contact}
    </update>

    <delete id="deleteContact">
        DELETE FROM CONTACT WHERE CONTACT = #{contact}
    </delete>
</mapper>