<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.FaqDao">
    <sql id="list">
        <if test="search_keyword != null">
            <if test="search_type == ''.toString()">
            </if>
        </if>
    </sql>
    <sql id="order">
        ORDER BY
        <if test="order_type != null">
            <choose>
                <when test="order_type == 'reg_date_desc'.toString()">REG_DATE DESC, </when>
            </choose>
        </if>
        FAQ DESC
    </sql>

    <select id="getListFaq" resultType="com.jamie.home.api.model.FAQ">
        SELECT *
        FROM FAQ
        WHERE 1=1
        <include refid="list"></include>
        <include refid="order"></include>
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListFaqCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM FAQ
        WHERE 1=1
        <include refid="list"></include>
    </select>

    <select id="getFaq" resultType="com.jamie.home.api.model.FAQ">
        SELECT *
        FROM FAQ
        WHERE FAQ = #{faq}
    </select>

    <insert id="insertFaq" parameterType="com.jamie.home.api.model.FAQ" useGeneratedKeys="true" keyProperty="faq">
        INSERT INTO FAQ (QUESTION, ANSWER) VALUES (#{question}, #{answer})
    </insert>

    <update id="updateFaq">
        UPDATE FAQ SET UPD_DATE = now()
        <if test="question != null">,QUESTION = #{question}</if>
        <if test="answer != null">,ANSWER = #{answer}</if>
        WHERE FAQ = #{faq}
    </update>

    <delete id="deleteFaq">
        DELETE FROM FAQ WHERE FAQ = #{faq}
    </delete>
</mapper>