<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.FieldDao">
    <sql id="list">
        <if test="search_keyword != null">
            <if test="search_type == ''.toString()">
            </if>
        </if>
    </sql>
    <sql id="order">
        ORDER BY
        <if test="order_type != null">
            <choose>
                <when test="order_type == 'reg_date_desc'.toString()">REG_DATE DESC, </when>
            </choose>
        </if>
        FIELD DESC
    </sql>

    <select id="getListField" resultType="com.jamie.home.api.model.common.FIELD">
        SELECT *
        FROM FIELD
        WHERE 1=1
        <include refid="list"></include>
        <include refid="order"></include>
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getField" resultType="com.jamie.home.api.model.common.FIELD">
        SELECT * FROM FIELD
        WHERE 1=1
        <if test="field != null">
            AND FIELD = #{field}
        </if>
        <if test="type_name != null and name != null">
            AND TYPE_NAME = #{type_name} AND NAME = #{name}
        </if>
    </select>
</mapper>