<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.InterDao">
    <sql id="list">
        <if test="search_keyword != null">
            <if test="search_type == 'name '.toString()">
                AND MEMBER IN (SELECT MEMBER FROM MEMBER WHERE NAME LIKE CONCAT('%',#{search_keyword},'%'))
            </if>
            <if test="search_type == null">
            </if>
        </if>
        <if test="country != null">
            AND COUNTRY = #{country}
        </if>
        <if test="location != null">
            AND INTERPRETER IN (SELECT DISTINCT INTERPRETER FROM INTERPRETER_MULTI_CHOICE WHERE FIELD = #{location} AND TYPE_VALUE = 'location')
        </if>
        <if test="category_list != null">
            AND INTERPRETER IN (
                SELECT DISTINCT INTERPRETER
                FROM INTERPRETER_MULTI_CHOICE
                WHERE 1=1
                    AND TYPE_VALUE = 'category'
                    AND FIELD IN
                <foreach collection="category_list" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            )
        </if>
        <if test="language != null">
            AND INTERPRETER IN (SELECT DISTINCT INTERPRETER FROM INTERPRETER_MULTI_CHOICE WHERE FIELD = #{language} AND TYPE_VALUE = 'language')
        </if>
        <if test="start_date != null and end_date != null">
            AND (
                SELECT COUNT(*) FROM BOOKING WHERE 1=1
                    AND BOOKING.INTERPRETER = INTERPRETER.INTERPRETER
                    AND !(#{start_date} > END OR START > #{end_date})
            ) = 0
        </if>
        <if test="day_unit != null">
            AND DAY_UNIT = #{day_unit}
            AND DAY_PRICE BETWEEN #{min_price} AND #{max_price}
        </if>
        <if test="car != null">
            AND CAR = #{car}
        </if>
        <if test="pickup != null">
            AND PICKUP = #{pickup}
        </if>
        <if test="gender != null">
            AND #{gender} = (SELECT GENDER FROM MEMBER WHERE MEMBER = INTERPRETER.MEMBER)
        </if>
    </sql>
    <sql id="order">
        ORDER BY
        <if test="order_type != null">
            <choose>
                <when test="order_type == 'reg_date_desc'.toString()">REG_DATE DESC, </when>
                <when test="order_type == 'like_desc'.toString()">(SELECT COUNT(*) FROM INTERPRETER_LIKE IL WHERE INTERPRETER.INTERPRETER = IL.INTERPRETER) DESC, </when>
                <when test="order_type == 'grade_desc'.toString()">
                    (
                        SELECT IFNULL(AVG(GRADE),0) FROM BOOKING WHERE 1=1
                            AND BOOKING.INTERPRETER = INTERPRETER.INTERPRETER
                            AND STATE = (SELECT FIELD FROM FIELD WHERE TYPE_NAME = 'booking_state' AND VALUE = 'confirm')
                            AND DATE_FORMAT(NOW(),'%Y%m%d') > END
                    ) DESC,
                </when>
            </choose>
        </if>
        INTERPRETER DESC
    </sql>

    <select id="getListInterpreter" resultType="com.jamie.home.api.model.INTERPRETER">
        SELECT *
        FROM INTERPRETER
        WHERE 1=1
        <include refid="list"></include>
        <include refid="order"></include>
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListInterpreterCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM INTERPRETER
        WHERE 1=1
        <include refid="list"></include>
    </select>

    <select id="getInterpreter" resultType="com.jamie.home.api.model.INTERPRETER">
        SELECT *
        FROM INTERPRETER
        WHERE INTERPRETER = #{interpreter}
    </select>

    <insert id="insertInterpreter" parameterType="com.jamie.home.api.model.INTERPRETER" useGeneratedKeys="true" keyProperty="interpreter">
        INSERT INTO INTERPRETER (
            MEMBER, COUNTRY, DAY_UNIT, DAY_PRICE, CAR, PICKUP, PICKUP_UNIT, PICKUP_PRICE,
            INFO, PROFILE, CAREER, EXTRA, TIME_START, TIME_END, FILES, STATE
        ) VALUE (
            #{member}, #{country}, #{day_unit}, #{day_price}, #{car}, #{pickup}, #{pickup_unit}, #{pickup_price},
            #{info}, #{profile}, #{career}, #{extra}, #{time_start}, #{time_end}, #{files}, #{state}
        )
    </insert>

    <update id="updateInterpreter">
        UPDATE INTERPRETER SET UPD_DATE = now()
        <if test="country != null">,COUNTRY = #{country}</if>
        <if test="day_unit != null">,DAY_UNIT = #{day_unit}</if>
        <if test="day_price != null">,DAY_PRICE = #{day_price}</if>
        <if test="car != null">,CAR = #{car}</if>
        <if test="pickup != null">,PICKUP = #{pickup}</if>
        <if test="pickup_unit != null">,PICKUP_UNIT = #{pickup_unit}</if>
        <if test="pickup_price != null">,PICKUP_PRICE = #{pickup_price}</if>
        <if test="info != null">,INFO = #{info}</if>
        <if test="profile != null">,PROFILE = #{profile}</if>
        <if test="career != null">,CAREER = #{career}</if>
        <if test="extra != null">,EXTRA = #{extra}</if>
        <if test="time_start != null">,TIME_START = #{time_start}</if>
        <if test="time_end != null">,TIME_END = #{time_end}</if>
        <if test="files != null">,FILES = #{files}</if>
        <if test="state != null">,STATE = #{state}</if>
        <if test="reject_msg != null">,REJECT_MSG = #{reject_msg}</if>
        WHERE INTERPRETER = #{interpreter}
    </update>

    <delete id="deleteInterpreter">
        DELETE FROM INTERPRETER WHERE INTERPRETER = #{interpreter}
    </delete>

    <insert id="insertInterpreterMultiChoice">
        INSERT INTO INTERPRETER_MULTI_CHOICE (INTERPRETER, FIELD, TYPE_VALUE) VALUES
        <foreach collection="keyList" item="item" open="" separator="," close="">
            (#{interpreter}, #{item}, #{type_value})
        </foreach>
    </insert>

    <select id="getListInterpreterMultiChoice" resultType="java.lang.Integer">
        SELECT FIELD FROM INTERPRETER_MULTI_CHOICE WHERE INTERPRETER = #{interpreter} AND TYPE_VALUE = #{type_value}
    </select>

    <delete id="deleteInterpreterMultiChoice">
        DELETE FROM INTERPRETER_MULTI_CHOICE WHERE INTERPRETER = #{interpreter} AND TYPE_VALUE = #{type_value} AND FIELD IN
        <foreach collection="keyList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="updateInterpreterLike">
        CALL UPDATE_INTERPRETER_LIKE(#{interpreter}, #{member})
    </insert>

    <select id="getInterpreterByMemberKey" resultType="com.jamie.home.api.model.INTERPRETER">
        SELECT * FROM INTERPRETER WHERE MEMBER = #{member}
    </select>

    <sql id="listRecommend">
        <if test="search_keyword != null">
            <if test="search_type == ''.toString()">
            </if>
            <if test="search_type == null">
            </if>
        </if>
        <if test="location_list != null">
            AND LOCATION IN
            <foreach collection="location_list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>
    <sql id="orderRecommend">
        ORDER BY
        <if test="order_type != null">
            <choose>
                <when test="order_type == 'reg_date_desc'.toString()">REG_DATE DESC, </when>
            </choose>
        </if>
        INTERPRETER_RECOMMEND DESC
    </sql>

    <select id="getListInterpreterRecommend" resultType="com.jamie.home.api.model.RECOMMEND">
        SELECT *
        FROM INTERPRETER_RECOMMEND
        WHERE 1=1
        <include refid="listRecommend"></include>
        <include refid="orderRecommend"></include>
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListInterpreterRecommendCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM INTERPRETER_RECOMMEND
        WHERE 1=1
        <include refid="list"></include>
    </select>

    <insert id="insertInterpreterRecommend">
        INSERT INTO INTERPRETER_RECOMMEND (INTERPRETER, LOCATION) VALUES (#{interpreter}, #{location})
    </insert>

    <update id="updateInterpreterRecommend">
        UPDATE INTERPRETER_RECOMMEND SET UPD_DATE = now()
        <if test="sort != null">,SORT = #{sort}</if>
        WHERE INTERPRETER_RECOMMEND = #{interpreter_recommend}
    </update>

    <delete id="deleteInterpreterRecommend">
        DELETE FROM INTERPRETER_RECOMMEND WHERE INTERPRETER_RECOMMEND = #{interpreter_recommend}
    </delete>

    <select id="getInterpreterBookingEndCnt" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM BOOKING
        WHERE 1=1
            AND INTERPRETER = #{interpreter}
            AND STATE = (SELECT FIELD FROM FIELD WHERE TYPE_NAME = 'booking_state' AND VALUE = 'confirm')
            AND DATE_FORMAT(NOW(),'%Y%m%d') > END
    </select>

    <select id="getInterpreterBookingEndGrade" resultType="java.lang.Float">
        SELECT IFNULL(AVG(GRADE),0) FROM BOOKING
        WHERE 1=1
            AND INTERPRETER = #{interpreter}
            AND STATE = (SELECT FIELD FROM FIELD WHERE TYPE_NAME = 'booking_state' AND VALUE = 'confirm')
            AND DATE_FORMAT(NOW(),'%Y%m%d') > END
    </select>

    <select id="getInterpreterAverageChatTime" resultType="java.lang.Integer">
        SELECT CAL_AVERAGE_TIME(#{interpreter})
    </select>

    <select id="getInterpreterLikeCnt" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM INTERPRETER_LIKE WHERE INTERPRETER = #{interpreter}
    </select>
</mapper>