<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.MemberDao">
    <sql id="list">
        <if test="search_keyword != null">
            <if test="search_type == 'name'.toString()">
            </if>
            <if test="search_type == null">
            </if>
        </if>
    </sql>
    <sql id="order">
        ORDER BY
        <if test="order_type != null">
            <choose>
                <when test="order_type == 'reg_date_desc'.toString()">REG_DATE DESC, </when>
            </choose>
        </if>
        MEMBER DESC
    </sql>

    <select id="getListMember" resultType="com.jamie.home.api.model.common.MEMBER">
        SELECT *
        FROM MEMBER
        WHERE 1=1
        <include refid="list"></include>
        <include refid="order"></include>
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListMemberCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE 1=1
        <include refid="list"></include>
    </select>

    <select id="getMember" resultType="com.jamie.home.api.model.common.MEMBER">
        SELECT *
        FROM MEMBER
        WHERE MEMBER = #{member}
    </select>

    <select id="getMemberByCol" resultType="com.jamie.home.api.model.common.MEMBER">
        SELECT * FROM MEMBER WHERE 1=1
        <if test="id != null">
            AND ID = #{id}
        </if>
        <if test="email != null">
            AND EMAIL = #{email}
        </if>
        <if test="name != null">
            AND NAME = #{name}
        </if>
    </select>

    <insert id="insertMember" parameterType="com.jamie.home.api.model.common.MEMBER" useGeneratedKeys="true" keyProperty="member">
        INSERT INTO MEMBER (
            ID, COUNTRY, EMAIL, PASSWORD, ROLE, NAME, PHONE, GENDER, ADDRESS, ADDRESS_DETAIL, MARKETING_YN
        ) VALUES (
            #{id}, #{country}, #{email}, #{password}, #{role}, #{name}, #{phone}, #{gender}, #{address}, #{address_detail}, #{marketing_yn}
        )
    </insert>

    <update id="updateMember">
        UPDATE MEMBER SET UPD_DATE = now()
        <if test="password != null">,PASSWORD = #{password}</if>
        <if test="email != null">,EMAIL = #{email}</if>
        <if test="phone != null">,PHONE = #{phone}</if>
        <if test="address != null">,ADDRESS = #{address}</if>
        <if test="address_detail != null">,ADDRESS_DETAIL = #{address_detail}</if>
        <if test="marketing_yn != null">,MARKETING_YN = #{marketing_yn}</if>
        <if test="profile_file != null">,PROFILE_FILE = #{profile_file}</if>
        WHERE MEMBER = #{member}
    </update>

    <delete id="deleteMember">
        DELETE FROM MEMBER WHERE MEMBER = #{member}
    </delete>

    <insert id="insertMemberInfo">
        INSERT INTO MEMBER_INFO (
            MEMBER, `KEY`, INFO_TYPE, TITLE, CONTENT
        ) VALUES (
            #{member}, #{key}, #{info_type}, #{title}, #{content}
        )
    </insert>

    <update id="updateMemberInfoCheck">
        UPDATE MEMBER_INFO SET UPD_DATE = NOW(), CHECK_YN = TRUE WHERE MEMBER_INFO = #{member_info}
    </update>

    <update id="updateMemberInfoCheckAll">
        UPDATE MEMBER_INFO SET UPD_DATE = NOW(), CHECK_YN = TRUE WHERE MEMBER = #{member}
    </update>

    <sql id="listInfo">
        <if test="check_yn != null">
            AND CHECK_YN = #{check_yn}
        </if>
    </sql>
    <sql id="listOrderInfo">
        ORDER BY CHECK_YN,
        <if test="order_type != null">
            <choose>
                <when test="order_type == 'reg_date_desc'.toString()">REG_DATE DESC, </when>
            </choose>
        </if>
        MEMBER_INFO DESC
    </sql>

    <select id="getListMemberInfo" resultType="com.jamie.home.api.model.INFO">
        SELECT *
        FROM MEMBER_INFO
        WHERE 1=1
        AND MEMBER = #{member}
        <include refid="listInfo"></include>
        <include refid="listOrderInfo"></include>
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListMemberInfoCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM MEMBER_INFO
        WHERE 1=1
        AND MEMBER = #{member}
        <include refid="listInfo"></include>
    </select>
</mapper>